.addItem,
.searchItem {
  background-color: #d8839476;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.addItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.addItemInputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addItemAdd {
  width: 80%;
}
.addItemAmount {
  text-align: center;
  width: 20%;
}

.addItem input::placeholder,
.searchItem input::placeholder {
  color: var(--primary);
}
